{% extends 'base.html' %}
{% load humanize %}

{% block title %} Tasklists - Timothy {% endblock title %}

{% block lists %}
<div class="h-75 justify-content-center align-items-center  text-center">
    <form class="form-group text-center" action="{% url 'task:task_list' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline mb-4 ">Submit</button>
    </form>
    {% if len == 0 %}
    <div class="text-center mt-4">
        <h2> It looks like your schedule is clear... </h2>
    </div>
    {% else %}
    <h4> <b> Task Lists </b> <small class="text-muted">{{len}}</small></h4>
    <div class="text-left">
        <div class="list-group">
        <div class="list-group-item list-group-item-success">
            <div class="float-left"><h5><b>List Title</b></h5></div>
            <div class="float-right"><h5><b>Created</b></h5></div>
            </div>
            {% for list in tasklists %}
            <div class="list-group-item list-group-item-action">
                <a href="{{ list.id }}" class="custom-link"> <b>{{ list.title }}</b> </a>
                <div class="float-right"> {{ list.created|naturaltime }} </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock lists %}