html,
body {
  height: 100%
}
body,
p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.small{
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    font-size: medium !important;
}
.nav-brand a{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #00ab6b;
}
.nav-brand a:hover{
    color: #00ab6b;
    text-decoration: none;
}
::selection{
    color: #00ab6b;
    background-color: #00ab6c1a;
}
nav a{
    color: #000;
}
nav a:hover{
    color: #00ab6b;
    text-decoration: overline;
}

.btn-outline {
    text-transform: uppercase;
    border: 1.4px solid #00ab6b !important;
}

.btn-outline:hover {
    color: #ffffff !important;
    background-color: #00ab6b;
}

.form-control{
    border-color: #00ab6b !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,171,107, 0.375) !important;
}
