html,
body {
  height: 100%
}
body,
p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.small{
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    font-size: medium !important;
}
.nav-brand a{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #00ab6b;
}
.nav-brand a:hover{
    color: #00ab6b;
    text-decoration: none;
}
::selection{
    color: #00ab6b;
    background-color: #00ab6c1a;
}
nav a{
    color: #000;
}
nav a:hover{
    color: #00ab6b;
    text-decoration: none;
}

